{% extends 'account/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/base.css' %}">

<div class="container-fluid text-right bg-light">
<br>
<br>
	<div class="row">
		<div class="col-md-1">
		</div>
    {% if user.message == "" %}
    <div class="col-md-6">
		</div>
    {% else %}
		<div class="col-md-6">
			<div class="alert alert-dismissable alert-primary">

				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					بريد
				</h4> <strong></strong> {{ user.message }}
			</div>
		</div>
    {% endif %}

		<!-- <div class="col-md-1">
		</div> -->
		<div class="col-md-5">
			<div class="card text-right cib">
				<h6 class="card-header">
          {% if user.school == "بنين" %}
           مرحباً بالطالب
          {% else %}
           مرحباً بالطالبة
          {% endif %}
				</h6>
				<div class="card-body">
					<p class="card-text">
						{{ user.username }}
					</p>
				</div>
				<div class="card-footer">
            {{ user.get_grade_display }} - {{ user.school }}
				  <!-- {{ user.get_school_display }} - {{ user.get_grade_display }}	الصف -->
				</div>
			</div>
		</div>
</div>


<div class="container-fluid text-right ml-auto">

		<div class="row ">
			<div class="col-md-8" >
				</div>
		<div class="col-md-4 mt-4">
	  <h6>بيان سداد المصروفات الدراسية</h6>
		<hr>
	  </div>
  </div>
	<div class="row ">
		<div class="col-md-8" >
		</div>

		<div class="col-md-4" >
		  <button type="button" class="btn btn-primary cib mb-1" style="display:inline-block; width:230px" >قيمة القسط الأول<span class="badge badge-light ml-2"><h6>{{ user.payment_1 }}</h6></span></button>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-8" >
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary cib mb-1" style="display:inline-block; width:230px">قيمة القسط الثاني<span class="badge badge-light ml-2"><h6>{{ user.payment_2 }}</h6></span></button>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-8" >
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary cib mb-1" style="display:inline-block; width:230px">إجمالي ما تم سداده<span class="badge badge-light ml-2"><h6>{{ user.study_paid }}</h6></span></button>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-8" >
		</div>
		<div class="col-md-4">
	    {% if user.study_status <= 0 %}
			<button type="button" class="btn btn-primary cib" style="display:inline-block; width:230px"><h6> شكراً للسداد </h6> </button>
	    {% else %}
	    <button type="button" class="btn btn-danger" style="display:inline-block; width:220px">مستحق السداد <span class="badge badge-light"><h6>{{ user.study_status }}</h6></span></button>
	    {% endif %}
		</div>
	</div>
  <br>


	{% if user.bus_active  %}
	<div class="row ">
		<div class="col-md-7" >
		</div>
		<div class="col-md-5">
	  <h6>بيان سداد إشتراك الباص</h6>
    <hr>
		</div>

  </div>
	<div class="row ">
		<div class="col-md-8" >
		</div>
		<div class="col-md-4" >
		  <button type="button" class="btn btn-primary cib mb-1" style="display:inline-block; width:230px" > قيمة إشتراك الباص  <span class="badge badge-light"><h6>{{ user.bus_fees }}</h6></span></button>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-8" >
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary cib mb-1" style="display:inline-block; width:230px"> إجمالي ما تم سداده <span class="badge badge-light"><h6>{{ user.bus_paid }}</h6></span></button>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-8" >
		</div>
		<div class="col-md-4">
			{% if user.bus_status <= 0 %}
			<button type="button" class="btn btn-primary cib" style="display:inline-block; width:230px"><h6> شكراً للسداد </h6> </button>
			{% else %}
			<button type="button" class="btn btn-danger" style="display:inline-block; width:230px">مستحق السداد <span class="badge badge-light"><h6>{{ user.bus_status }}</h6></span></button>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
<br>
<div class="row ">
	<div class="col-md-8" >
		</div>
	<div class="col-md-4" >
		<form class="btn"  action="{% url 'addfees' %}" method="GET">
			<button type="submit" name="button" >تسجيل إيصالات البنك</button>
		</form>
	</div>
	</div>
<br>
  <div class="row">
		<div class="col-md-8 ml-auto">
			<div id="card-434025">
				<div class="card">
					<div class="card-header">
						 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-434025" href="#card-element-708669">تعليمات سداد المصروفات الدراسية</a>
					</div>
					<div id="card-element-708669" class="collapse">
						<div class="card-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
</div>
<br>
</div>





{% endblock %}
