{% extends "account/base.html" %}

{% block content %}
  <div class="container-fluid text-right">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h3>تسجيل الدخول</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">: كود الطالب</label>
                    <input type="text" name="username" class="form-control" maxlength="7" id="username">
                </div>
                <div class="form-group">
                    <label for="password">: كلمة المرور</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn  btn-primary cib">تسجيل الدخول</button>
            </form>
            <hr>

        </div>
    </div>
  </div>


{% endblock %}
